*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-bg: rgb(193, 192, 253);
  --clr-bg1: rgb(176, 172, 251);
  --clr-bg2: rgb(151, 156, 242);
  --clr-main: rgb(24, 33, 63);
  --clr-main-lighter: rgb(49, 66, 120);
  --clr-border: rgb(142, 141, 141, 0.5);
  --box-shadow: 0 0 4px 3px rgb(0, 0, 0, 0.15);
  --max-width: 52rem;
}

body {
  margin: 1rem;
  background-color: var(--clr-bg);
  color: var(--clr-main);
  font-family: sans-serif;

  background-image: linear-gradient(167deg, #22d3ee, #8b5cf6);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* backdrop-filter: blur(1px); */
}

.blurred {
  filter: blur(3px);
  overflow: hidden;
}

.header {
  border-radius: 6px;
  margin-inline: auto;
  max-width: var(--max-width);
  background-color: rgb(255, 255, 255, 0.8);
  box-shadow: var(--box-shadow);
}

.header-top {
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid gray;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
}

.header-inner-container {
  display: flex;
  align-items: center;
}

.header-left {
  width: 50%;
  padding: 1.5rem;
}

.header-left-temp,
.header-left-location {
  display: flex;
  justify-content: center;
}

.header-left-temp {
  align-items: center;
}

.header-left-location {
  align-items: end;
}

.location-icon {
  width: 18px;
  height: 18px;
  display: block;
  object-fit: contain;
  margin-right: 3px;
}

.location {
  font-size: 0.8rem;
}
.weather-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  filter: invert(11%) sepia(12%) saturate(3587%) hue-rotate(189deg) brightness(100%) contrast(94%);
  /* filter generator: https://codepen.io/sosuke/pen/Pjoqqp */
  /* color: #18213f; */
}

.weather-icon.large {
  width: 80px;
  height: 80px;
}

.header-current-temp {
  font-size: 2.5rem;
  margin-left: 1rem;
  
}

.header-right {
  display: grid;
  justify-content: space-around;
  width: 50%;
  gap: 0.8rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  padding: 1rem;
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  color: var(--clr-main-lighter);
}

.value-sub-info {
  font-weight: lighter;
  font-size: 0.85rem;
}

.day-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 0.5rem;
  justify-content: space-around;
  padding: 1.5rem 0;
 /*  border: 1px solid red; */
  max-width: var(--max-width);
  margin-inline: auto;
}

.day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--clr-border);
  border-radius: 0.25rem;
  padding: 0.8rem 0.4rem;
  font-size: 1.2rem;

  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.day-card-day {
  font-size: 0.9rem;
  text-transform: capitalize;
  color: var(--clr-main-lighter);
  margin: 0.5rem 0 0.2rem;
}

.hour-section {
  width: 100%;
  text-align: center;
  border-spacing: 0;
  border-radius: 6px;
  overflow: hidden;
  margin-inline: auto;
  max-width: var(--max-width);
  /* background-color: white; */
  box-shadow: var(--box-shadow);
}
/* .hour-section tbody {
  border-radius: 6px;
  border: 2px solid red;
} */
.hour-row {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.hour-row:nth-child(2n) {
  background-color: rgba(241, 241, 241, 0.4);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.hour-row > td {
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid var(--clr-border);
}

