.world-header {
  border-radius: 6px;
  margin-inline: auto;
  max-width: var(--max-width);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.2rem;
  border-radius: 6px;
  overflow: hidden;
  background-color: transparent;
}

.city-div {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  border-radius: 6px;
  box-shadow: var(--box-shadow);

  background-size: cover;
  background-position: center;
  /* ******* */
  position: relative;
  overflow: hidden;
}

.city-div::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--city-div);
  transition: opacity 300ms ease;
}

.city-div:hover::before {
  opacity: 0;
}

.city-div:hover {
  color: #fff;
  text-shadow: 0 2px 3px rgb(47, 36, 67);
  /* text-shadow: 0 2px 3px var(--clr-main); */
}
.city-location-icon {
  filter: var(--svg-icon-clr);
}
.city-div:hover .city-large,
.city-div:hover .city-location-icon {
  filter: invert(100%) sepia(0%) saturate(7495%) hue-rotate(304deg) brightness(109%) contrast(101%) drop-shadow(0 2px 3px rgb(23, 36, 77, 0.7));
}

.city-temp,
.city-location { 
  position: relative;
  z-index: 5;
}

.weather-icon.city-large {
  width: 100px;
  height: 100px;
}

.city-current-temp {
  font-size: 2rem;
  font-weight: 600;
}

.city-location {
  display: flex;
  align-items: end;
}

.city-country-location {
  font-size: 1.2rem;
  margin-left: 5px;
  margin-top: 8px;
  font-weight: 600;
}

#new-york {
 /*  background-image: linear-gradient(rgba(255, 255, 255, 0.65)), url('bg/new-york.jpg'); */
 background-image: url('bg/new-york.jpg');
}
/* filter: invert(100%) sepia(0%) saturate(7495%) hue-rotate(304deg) brightness(109%) contrast(101%); */

#buenos-aires {
  background-image: url('bg/buenos-aires.jpg');
}
#london {
  background-image: url('bg/london.jpg');
}
#rome {
  background-image: url('bg/rome.jpg');
}
#warsaw {
  background-image: url('bg/warsaw.jpg');
}
#berlin {
  background-image: url('bg/berlin.jpg');
}
#moscow {
  background-image: url('bg/moscow.jpg');
}
#tokyo {
  background-image: url('bg/tokyo.jpg');
}
#beijing {
  background-image: url('bg/beijing.jpg');
}
#sydney {
  background-image: url('bg/sydney.jpg');
}